{% if site.theme_config.loading.enable %}
<div id="loading-box">
  <div class="loading-bg"></div>
  <div class="loading-img">
    {% if site.theme_config.loading.gif %}
      <img src="{{ site.theme_config.loading.gif | relative_url }}" alt="Loading">
    {% else %}
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    {% endif %}
  </div>
</div>
{% endif %}
