<div class="card-widget card-author">
  <div class="author-avatar">
    <img src="{{ site.theme_config.avatar.img | default: '/assets/img/butterfly-icon.png' | relative_url }}" alt="{{ site.author.name | default: site.title }}">
  </div>
  
  <div class="author-info">
    <h4 class="author-name">{{ site.author.name | default: site.title }}</h4>
    {% if site.author.description %}
      <div class="author-description">{{ site.author.description }}</div>
    {% endif %}
  </div>
  
  {% if site.theme_config.social %}
    <div class="author-social">
      {% for social in site.theme_config.social %}
        {% assign social_item = social[1] %}
        {% assign social_name = social[0] %}
        {% if social_item contains '||' %}
          {% assign social_parts = social_item | split: '||' %}
          {% assign social_url = social_parts[0] | strip %}
          {% assign social_desc = social_parts[1] | strip %}
          {% assign social_color = social_parts[2] | strip %}
          <a href="{{ social_url }}" class="social-item" title="{{ social_desc }}"{% if social_color %} style="color: {{ social_color }};"{% endif %}>
            <i class="{{ social_name }}"></i>
          </a>
        {% else %}
          <a href="{{ social_item }}" class="social-item" title="{{ social_name }}">
            <i class="{{ social_name }}"></i>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
