{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
{% if posts_by_year.size > 0 %}
<div class="card-widget card-archives">
  <div class="card-content">
    <div class="item-headline">
      <i class="fas fa-archive"></i>
      <span>归档</span>
    </div>
    <ul class="archive-list">
      {% for year_group in posts_by_year limit: 5 %}
        <li class="archive-item">
          <a href="{{ site.baseurl }}/archives/{{ year_group.name }}/">
            <span class="archive-year">{{ year_group.name }}</span>
            <span class="archive-count">({{ year_group.items | size }})</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="archive-more">
      <a href="{{ site.baseurl }}/archives/">查看更多 <i class="fas fa-angle-right"></i></a>
    </div>
  </div>
</div>
{% endif %}
