<!DOCTYPE html>
<html lang="{{ site.lang | default: 'zh-CN' }}" data-theme="{{ site.theme_config.display_mode }}">
<head>
  {% include head.html %}
</head>
<body>
  {% if site.theme_config.loading.enable %}
    {% include loading.html %}
  {% endif %}

  {% if site.theme_config.background %}
    <div id="web_bg" style="background-image: url({{ site.theme_config.background }});"></div>
  {% endif %}

  {% include sidebar.html %}

  <div id="body-wrap" class="{{ page.layout }}{% if page.type %} type-{{ page.type }}{% endif %}">
    {% include header/index.html %}

    <main id="content-inner" class="layout{% unless site.theme_config.aside.enable and page.aside != false %} hide-aside{% endunless %}">
      {{ content }}
      
      {% if site.theme_config.aside.enable and page.aside != false %}
        {% include widget/index.html %}
      {% endif %}
    </main>

    {% assign footer_bg = site.theme_config.footer_img %}
    <footer id="footer"{% if footer_bg %} style="background-image: url({{ footer_bg }});"{% endif %}>
      {% include footer.html %}
    </footer>
  </div>

  {% include rightside.html %}
  {% include additional-js.html %}
</body>
</html>
