<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="butterfly-theme">
    <div id="app">
      {%- include header.html -%}
      
      <main class="main" aria-label="Content">
        <div class="main-inner">
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}
    </div>

    <!-- Background -->
    <canvas id="ribbon"></canvas>
    
    <!-- Scripts -->
    {%- include scripts.html -%}
  </body>
</html>
