---
layout: default
---

<div id="post">
  {% unless page.top_img == false %}
    {% include header/post-info.html %}
  {% endunless %}

  <article id="article-container" class="container post-content">
    {% if site.theme_config.noticeOutdate.enable and page.noticeOutdate != false %}
      {% include post/outdate-notice.html %}
    {% else %}
      {{ content }}
    {% endif %}
  </article>

  {% include post/post-copyright.html %}

  <div class="tag_share">
    {% if page.tags.size > 0 and site.theme_config.post_meta.post.tags %}
      <div class="post-meta__tag-list">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="post-meta__tags">#{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
    {% include third-party/share/index.html %}
  </div>

  {% if site.theme_config.reward.enable and site.theme_config.reward.QR_code %}
    {% include post/reward.html %}
  {% endif %}

  {% if site.theme_config.ad and site.theme_config.ad.post %}
    <div class="ads-wrap">{{ site.theme_config.ad.post }}</div>
  {% endif %}

  {% if site.theme_config.post_pagination %}
    {% include pagination.html %}
  {% endif %}

  {% if site.theme_config.related_post and site.theme_config.related_post.enable %}
    {% include post/related-post.html %}
  {% endif %}

  {% if site.theme_config.comments.enable %}
    {% include third-party/comments/index.html %}
  {% endif %}
</div>
